# Problema de Neg√≥cio:

üìùQuais g√™neros de animes tendem a receber notas mais altas?

# Importando Libs

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

# Carregando Dataset

In [4]:
anime = pd.read_csv("animes.csv")

# Analisando os Dados

In [5]:
anime.shape

(15262, 27)

In [6]:
anime.head()

,Japanese,Type,Episodes,Status,Aired,Premiered,Producers,Licensors,Studios,Source,...,Favorites,description,Name,English Name,Recommended,Mixed Feelings,Not Recommended,Themes,Demographics,Seasonal
0,Ëë¨ÈÄÅ„ÅÆ„Éï„É™„Éº„É¨„É≥,TV,28,Finished Airing,"Sep 29, 2023 to Mar 22, 2024",Fall 2023,"Aniplex, Dentsu, Shogakukan-Shueis...","None found, add some",Madhouse,Manga,...,43111,During their decade-long quest to defeat the D...,Sousou no Frieren,Frieren: Beyond Journey's End,493,67,42,['Unknown-Themes'],['Shounen'],False
1,Èãº„ÅÆÈå¨ÈáëË°ìÂ∏´ FULLMETAL ALCHEMIST,TV,64,Finished Airing,"Apr 5, 2009 to Jul 4, 2010",Spring 2009,"Aniplex, Square Enix, Mainichi Bro...","Funimation, Aniplex of America",Bones,Manga,...,226182,After a horrific alchemy experiment goes wrong...,Fullmetal Alchemist: Brotherhood,NaN,912,59,39,['Military'],['Shounen'],False
2,STEINS;GATE,TV,24,Finished Airing,"Apr 6, 2011 to Sep 14, 2011",Spring 2011,"Frontier Works, Media Factory, Kad...",Funimation,White Fox,Visual novel,...,189734,Eccentric scientist Rintarou Okabe has a never...,Steins;Gate,NaN,1006,73,73,"['Psychological', 'TimeTravel']",['Unknown-Demographic'],True
3,ÈäÄÈ≠Ç¬∞,TV,51,Finished Airing,"Apr 8, 2015 to Mar 30, 2016",Spring 2015,"TV Tokyo, Aniplex, Dentsu","Funimation, Crunchyroll",Bandai Namco Pictures,Manga,...,16680,"Gintoki, Shinpachi, and Kagura return as the f...",Gintama¬∞,Gintama Season 4,79,3,1,"['GagHumor', 'Historical', 'Parody', 'Samurai']",['Shounen'],False
4,ÈÄ≤ÊíÉ„ÅÆÂ∑®‰∫∫ Season3 Part.2,TV,10,Finished Airing,"Apr 29, 2019 to Jul 1, 2019",Spring 2019,"Production I.G, Dentsu, Mainichi B...",Funimation,Wit Studio,Manga,...,58793,Seeking to restore humanity's diminishing hope...,Shingeki no Kyojin Season 3 Part 2,Attack on Titan Season 3 Part 2,198,9,11,"['Gore', 'Military', 'Survival']",['Shounen'],True

In [7]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15262 entries, 0 to 15261
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Japanese         15047 non-null  object
 1   Type             15262 non-null  object
 2   Episodes         15262 non-null  object
 3   Status           15262 non-null  object
 4   Aired            15262 non-null  object
 5   Premiered        5527 non-null   object
 6   Producers        15262 non-null  object
 7   Licensors        15262 non-null  object
 8   Studios          15253 non-null  object
 9   Source           15262 non-null  object
 10  Genres           15262 non-null  object
 11  Duration         15262 non-null  object
 12  Rating           15262 non-null  object
 13  Score            15262 non-null  float64
 14  Ranked           15262 non-null  int64
 15  Popularity       15262 non-null  int64
 16  Members          15262 non-null  int64
 17  Favorites        15262 non-null  int64
 18  description      15262 non-null  object
 19  Name             15262 non-null  object
 20  English Name     6840 non-null   object
 21  Recommended      15262 non-null  int64
 22  Mixed Feelings   15262 non-null  int64
 23  Not Recommended  15262 non-null  int64
 24  Themes           15262 non-null  object
 25  Demographics     15262 non-null  object
 26  Seasonal         15262 non-null  bool
dtypes: bool(1), float64(1), int64(7), object(18)
memory usage: 3.0+ MB

üîéDectando Valores Duplicados

In [8]:
# Verificar se h√° linhas duplicadas
anime.duplicated().sum()

3

üîéDectando Valores Ausentes

In [9]:
valAusentes = anime.isnull().sum().sort_values(ascending = False)

print(valAusentes)

Premiered          9735
English Name       8422
Japanese            215
Studios               9
Popularity            0
Demographics          0
Themes                0
Not Recommended       0
Mixed Feelings        0
Recommended           0
Name                  0
description           0
Favorites             0
Members               0
Score                 0
Ranked                0
Type                  0
Rating                0
Duration              0
Genres                0
Source                0
Licensors             0
Producers             0
Aired                 0
Status                0
Episodes              0
Seasonal              0
dtype: int64

In [10]:
# Calculando o percentual de valores ausentes
valores_ausentes_percent = valAusentes[valAusentes > 0] / anime.shape[0] 

print(f'{valores_ausentes_percent * 100} %')

Premiered       63.785873
English Name    55.182807
Japanese         1.408728
Studios          0.058970
dtype: float64 %

> üìÑVamos criar um DataFrame novo e deixar apenas as colunas que precisamos

In [11]:
df_anime = anime[['Score', 'Name', 'Genres']]

df_anime.sample(10)

,Score,Name,Genres
8021,6.281,RahXephon: Kansoukyoku/Kanojo to Kanojo Jishin...,"['Drama', 'Sci-Fi']"
3293,7.191,One Piece: Nenmatsu Tokubetsu Kikaku! Mugiwara...,"['Comedy', 'Fantasy']"
7868,6.311,Warau Salesman Dai SP-banashi,"['Comedy', 'Drama', 'Supernatural']"
6968,6.471,Love Get Chu,"['Comedy', 'Romance']"
853,7.871,Ginga Eiyuu Densetsu: Waga Yuku wa Hoshi no Ta...,"['Action', 'Sci-Fi']"
12561,5.081,Pinky Monkey no Umareta Hi,['Adventure']
5385,6.751,"Keikenzumi na Kimi to, Keiken Zero na Ore ga, ...",['Romance']
9708,5.961,Ore no Sora Keiji-hen,"['Action', 'Drama']"
8933,6.111,Jigokudou Reikai Tsuushin,"['Fantasy', 'Horror']"
14565,0.000,Xiao Heshang: You Fang Seng,['Unknown-Genre']

üîéVerificando se tem valores nulos no novo DataFrame

In [12]:
valAusentes = df_anime.isnull().sum().sort_values(ascending = False)

print(valAusentes)

Score     0
Name      0
Genres    0
dtype: int64

üîéVerificando se tem valores duplicados novo DataFrame

In [13]:
# Verificar se h√° linhas duplicadas
df_anime.duplicated().sum()

3

In [14]:
df_anime[df_anime.duplicated()]

,Score,Name,Genres
6860,6.491,Garouden: The Way of the Lone Wolf,['Action']
10450,5.801,Z/X: Code Reunion,"['Fantasy', 'Sci-Fi']"
10451,5.801,Zegapain ADP,"['Action', 'Romance', 'Sci-Fi']"

# Limpeza e Tratamento dos Dados

> üìÑComo encontramos valores duplicados, precisamos trata-los

In [15]:
df_anime.shape

(15262, 3)

In [16]:
#Removendo as duplicatas
df_anime = df_anime.drop_duplicates()

In [17]:
#Verificando se as duplicatas foram removidas
df_anime.duplicated().sum()

0

In [18]:
df_anime.shape

(15259, 3)

# An√°lise dos Dados

In [21]:
df_anime.describe()

              Score
count  15259.000000
mean       5.683925
std        2.335074
min        0.000000
25%        5.541000
50%        6.351000
75%        7.081000
max        9.361000

In [22]:
# Calcular m√©dia e desvio padr√£o
media = df_anime['Score'].mean()
desvio_padrao = df_anime['core'].std()

KeyError: 'score'

# Conclus√£o